@use "@theme" as theme;

window.bar {
  background-color: theme.$bg-color;
  font-family: theme.$bar-font;
  font-weight: bold;
  font-size: theme.$bar-font-size;

  button {
    padding: 0;
    background-color: unset;
  }

  > .bar-inner {
    margin: 6px;

    .bar-modules-container > .module:not(:last-child) {
      margin-right: theme.$bar-module-spacing;
    }
  }
}

window.bar-corner {
  background-color: transparent;

  > * {
    color: theme.$bg-color;
  }
}
