@use "~theme" as theme;

window.bar {
  background-color: theme.$bg-color;
  font-weight: bold;

  > .bar-inner {
    margin: 6pt;
  }
}

window.bar-corner {
  background-color: transparent;

  > * {
    color: theme.$bg-color;
  }
}
