@use "sass:color";
@use "@theme" as theme;

window.bar .bar-modules-container > .module-hyprland-workspaces {
  .workspace-button {
    transition: all 0.2s ease-out;
    margin: 0 theme.$bar-hyprland-workspaces-workspaces-spacing;
    border-radius: theme.$bar-hyprland-workspaces-workspaces-radius;

    &.inactive {
      background-color: color.scale(
        $color: theme.$bar-hyprland-workspaces-workspaces-inactive-color,
        $alpha: -70%
      );
      min-width: theme.$bar-hyprland-workspaces-workspaces-inactive-width;
      min-height: theme.$bar-hyprland-workspaces-workspaces-inactive-height;
      border-radius: theme.$bar-hyprland-workspaces-workspaces-inactive-radius;
    }

    &.occupied {
      background-color: color.scale(
        $color: theme.$bar-hyprland-workspaces-workspaces-occupied-color,
        $alpha: -40%
      );
      min-width: theme.$bar-hyprland-workspaces-workspaces-occupied-width;
      min-height: theme.$bar-hyprland-workspaces-workspaces-occupied-height;
      border-radius: theme.$bar-hyprland-workspaces-workspaces-occupied-radius;
    }

    &.focused {
      background-color: theme.$bar-hyprland-workspaces-workspaces-focused-color;
      min-width: theme.$bar-hyprland-workspaces-workspaces-focused-width;
      min-height: theme.$bar-hyprland-workspaces-workspaces-focused-height;
      border-radius: theme.$bar-hyprland-workspaces-workspaces-focused-radius;
    }
  }
}
