@use "sass:color";
@use "@theme" as theme;

window.bar .bar-modules-container > .module-separator {
  background-color: color.scale(
    $color: theme.$bar-separator-color,
    $alpha: -60%
  );
  min-width: #{theme.$bar-separator-width}pt;
  margin: #{theme.$bar-separator-vertical-margin}pt
    #{theme.$bar-separator-horizontal-margin}pt;
}
